<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/home_background"
        android:label="Heartmonitor"
        android:roundIcon="@drawable/home_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.asv.heartmonitor.Home"
            android:label="Heartmonitor"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.asv.heartmonitor.MainActivity"
            android:label="Measure"
            android:parentActivityName="com.asv.heartmonitor.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.asv.heartmonitor.Home"/>
        </activity>
    </application>

</manifest>